{{define "title"}}
TugTug
{{end}}

{{define "css"}}
<link rel="stylesheet" href="stylesheet.css" />
{{end}}

{{define "script"}}
<script>
    $(function() {
        $("#deadline").datepicker({
            dateFormat: 'dd-mm-yyyy',
            defaultDate:"14-08-2022"
        });
    });
</script>
{{end}}

{{define "main"}}
<section class="content">
    <div class="row">      
        <div class="col-md-12 col-sm-8">
            <div class="card">
                <div class="card-header text-dark bg-light">
                    <div class="row">
                        <h4>Tambah Tugas</h4>
                    </div>
                    
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        <div class="row mb-2">
                            <div class="col-3 text-end">Nama Petugas<span style="color:red">*</span></div>
                            <div class="col-9">
                                <input type="text" name="assignee" placeholder="Masukkan petugas"  class="form-control"  required>
                            </div>
                        </div>
                        
                        <div class="row mb-2">
                            <div class="col-3 text-end">Rincian Tugas<span style="color:red">*</span></div>
                            <div class="col-9">
                                <textarea name="task" placeholder="Masukkan tugas" rows="3" class="form-control"  required></textarea>        
                            </div>
                        </div>
                        
                        <div class="row mb-2">
                            <div class="col-3 text-end">Tanggal Deadline<span style="color:red">*</span></div>
                            <div class="col-9">
                                <input type="date" name="deadline" id="deadline" placeholder=""  class="form-control" required>
                            </div>
                        </div>
                
                        
                        <div class="row mb-2">
                            <div class="col-9 offset-3">
                                <button class="btn btn-outline-primary" type="submit">Submit</button>
                                <button class="btn btn-outline-info" onclick="history.back()">Batal</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

    
{{end}}

