{{define "title"}}
Mini Project GO
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

{{define "script"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){
            $('.table').DataTable()
        })
    </script>
{{end}}

{{define "main"}}
    <h1 class="display-6 mt-5"><strong> TugTug</strong></h1>
    <p> Catat dan Delegasikan Tugasmu</p>
    <a class="btn btn-success mb-3" href="/create"><i class="fa-solid fa-plus"></i> Tambah</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Assignee</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range $tugtug := .Tugtug}}
            <tr>
                <td>{{$tugtug.Assignee}}</td>
                <td>{{$tugtug.Task}}</td>
                <td>{{$tugtug.Deadline}}</td>
                <td>
                    {{if $tugtug.IsFinish}}
                        <button class="btn btn-success">Done</button>
                    {{else}}
                        <a href="/edit/{{$tugtug.ID}}" class="btn btn-warning">Ganti</a>
                        <form class="d-inline" action="selesai/{{$tugtug.ID}}" method="POST">
                            <button class="btn btn-info" type="submit">Selesai</button>
                        </form>
                        <form class="d-inline" action="hapus/{{$tugtug.ID}}" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    {{end}}
                    
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}

